<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>

<head>
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/bootstrap.min.css" type="text/css" />
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/blak.min.css" type="text/css" />
  <link rel="stylesheet" href="{{ app.request.basepath }}/css/jquery-ui.min.css" type="text/css" />

  <script type="text/javascript" src="{{ app.request.basepath }}/js/lib/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="{{ app.request.basepath }}/js/lib/jquery-ui.min.js"></script>
  <script type="text/javascript" src="{{ app.request.basepath }}/js/lib/jquery-autogrow.min.js"></script>
  <script type="text/javascript" src="{{ app.request.basepath }}/js/blak.js"></script>
  <script type="text/javascript" src="{{ app.request.basepath }}/js/autocomplete.js"></script>
</head>

<body>
  {% include 'includes/navbar.twig' %}
  <div class="container">
    <div class="page-header">
      <h1>BLAK</h1>
    </div>
    <p>
      <div class="row">
        <div class="col-xs-4">
          <div class="input-group">
            <input class="form-control searchString" id="searchString" type="text" placeholder="Enter IDs" />
            <div class="btn input-group-addon addon-success" id="btnSearch">Search!</div>
          </div>
        </div>
      </div>
    </p>
    <p>
      <button id="fetchStuff" class="btn btn-success btn-sm" type="button" value="Uberraschung">Refresh</button>
    </p>
    <p></p>
      
    <div id="mainview" class="row">
      <div class="row">
        <div id="ingredientContent" class="ingredients col-md-5" style="display: none;">
          in
        </div>
        <div class="col-md-2" id="arrow" style="height:100%;vertical-align:middle;text-align:center">
          <i class="glyphicon glyphicon-arrow-right" style="color:#333;font-size:40px;height:100%"></i>
        </div>
        <div id="outputContent" class="output col-md-5" style="display:none;">
          out
        </div>
        <div id="searchResults" class="search col-md-12" style="display: none;">search</div>
      </div>
    </div>
    
  </div>
</body>

</html>